<a href="https://colab.research.google.com/github/KumarGaurav20/ML-HOMEWORK/blob/main/ML_AS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mounting google drive into our notebook
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

# Linear Regression Project

Congratulations! You just got some contract work with an Ecommerce company based in New York City that sells clothing online but they also have in-store style and clothing advice sessions. Customers come in to the store, have sessions/meetings with a personal stylist, then they can go home and order either on a mobile app or website for the clothes they want.

The company is trying to decide whether to focus their efforts on their mobile app experience or their website. They've hired you on contract to help them figure it out! Let's get started!

Just follow the steps below to analyze the customer data (it's fake, don't worry I didn't give you real credit card numbers or emails).

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import model_selection

## Get the Data

We'll work with the Ecommerce Customers csv file from the company. It has Customer info, suchas Email, Address, and their color Avatar. Then it also has numerical value columns:

* Avg. Session Length: Average session of in-store style advice sessions.
* Time on App: Average time spent on App in minutes
* Time on Website: Average time spent on Website in minutes
* Length of Membership: How many years the customer has been a member. 

** Read in the Ecommerce Customers csv file as a DataFrame called customers.**

In [5]:
customer_data = pd.read_csv('/content/gdrive/MyDrive/COLAB DATA/Ecommerce Customers.csv')

**Check the head of customers, and check out its info() and describe() methods.**

In [6]:
customer_data

                             Email  ... Yearly Amount Spent
0        mstephenson@fernandez.com  ...          587.951054
1                hduke@hotmail.com  ...          392.204933
2                 pallen@yahoo.com  ...          487.547505
3          riverarebecca@gmail.com  ...          581.852344
4    mstephens@davidson-herman.com  ...          599.406092
..                             ...  ...                 ...
495   lewisjessica@craig-evans.com  ...          573.847438
496            katrina56@gmail.com  ...          529.049004
497             dale88@hotmail.com  ...          551.620145
498            cwilson@hotmail.com  ...          456.469510
499      hannahwilson@davidson.com  ...          497.778642

[500 rows x 8 columns]

HEAD

In [7]:
customer_data.head()

                           Email  ... Yearly Amount Spent
0      mstephenson@fernandez.com  ...          587.951054
1              hduke@hotmail.com  ...          392.204933
2               pallen@yahoo.com  ...          487.547505
3        riverarebecca@gmail.com  ...          581.852344
4  mstephens@davidson-herman.com  ...          599.406092

[5 rows x 8 columns]

TAIL

In [8]:
customer_data.tail()

                            Email  ... Yearly Amount Spent
495  lewisjessica@craig-evans.com  ...          573.847438
496           katrina56@gmail.com  ...          529.049004
497            dale88@hotmail.com  ...          551.620145
498           cwilson@hotmail.com  ...          456.469510
499     hannahwilson@davidson.com  ...          497.778642

[5 rows x 8 columns]

INFO

In [9]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

DESCRIBE

In [13]:
customer_data.describe()

       Avg. Session Length  ...  Yearly Amount Spent
count           500.000000  ...           500.000000
mean             33.053194  ...           499.314038
std               0.992563  ...            79.314782
min              29.532429  ...           256.670582
25%              32.341822  ...           445.038277
50%              33.082008  ...           498.887875
75%              33.711985  ...           549.313828
max              36.139662  ...           765.518462

[8 rows x 5 columns]